/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea{
color:#222;
}
html{
font-size:1em;
line-height:1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection{
background:#b3d4fc;
text-shadow:none;
}
::selection{
background:#b3d4fc;
text-shadow:none;
}
/*
 * A better looking default horizontal rule
 */

hr{
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video{
vertical-align:middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset{
border:0;
margin:0;
padding:0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea{
resize:vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy{
margin:0.2em 0;
background:#ccc;
color:#000;
padding:0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir{
background-color:transparent;
border:0;
overflow:hidden;
/* IE 6/7 fallback */
*text-indent:-9999px;
}
.ir:before{
content:"";
display:block;
width:0;
height:150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden{
display:none !important;
visibility:hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden{
border:0;
clip:rect(0 0 0 0);
height:1px;
margin:-1px;
overflow:hidden;
padding:0;
position:absolute;
width:1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{
clip:auto;
height:auto;
margin:0;
overflow:visible;
position:static;
width:auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible{
visibility:hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after{
content:" ";
/* 1 */
display:table;
/* 2 */
:;
}
.clearfix:after{
clear:both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix{
*zoom:1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em){
/* Style adjustments for viewports that meet the condition */
:;
}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi){
{
/* Style adjustments for high resolution devices */
:;
}
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print{
* {
        background:transparent !important;
color:#000 !important;
/* Black prints faster: h5bp.com/s */
/*box-shadow*/
-webkit-box-shadow:none !important;
   -moz-box-shadow:none !important;
        box-shadow:none !important;
text-shadow:none !important;
}
a,
    a:visited{
text-decoration:underline;
}
a[href]:after{
content:" (" attr(href) ")";
}
abbr[title]:after{
content:" (" attr(title) ")";
}
/*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after{
content:"";
}
pre,
    blockquote{
border:1px solid #999;
page-break-inside:avoid;
}
thead{
display:table-header-group;
/* h5bp.com/t */
:;
}
tr,
    img{
page-break-inside:avoid;
}
img{
max-width:100% !important;
}
@page{
margin: 0.5cm;
}
p,
    h2,
    h3{
orphans:3;
widows:3;
}
h2,
    h3{
page-break-after:avoid;
}
}

#nav{
display:block;
}
.fix{
overflow:hidden;
}
.floatleft{
float:left;
}
.floatright{
float:right;
}
.alignleft{
float:left;
margin-right:10px;
}
.alignright{
float:right;
margin-left:10px;
}
.aligncenter{
display:block;
margin:0 auto;
}
a, a:active, a:focus, a:active{
text-decoration:none !important;
}
a:focus{
outline:0px solid;
}
img{
max-width:100%;
}
h1, h2, h3, h4, h5, h6{
font-weight:normal;
margin:0 0 15px;
}
.column{
width:780px;
margin:0 auto;
display:block;
/*transition*/
-webkit-transition:all 0.9s ease 0s;
   -moz-transition:all 0.9s ease 0s;
     -o-transition:all 0.9s ease 0s;
        transition:all 0.9s ease 0s;
}
ul{
margin:0;
padding:0;
list-style:none;
}
body{
background:url(img/background.png) no-repeat scroll 0 0 #000;
color:#fff;
font-family:'Open Sans', sans-serif;
margin:150px 0;
font-weight:400;
}
ul#mobile_menu{
display:none;
}
div{
overflow:hidden;
}
.four_zero_warapper_area{
}
.header{
background:url(img/404.png) no-repeat scroll center center;
background-size:cover;
width:710px;
height:250px;
}

.header h3{
font-size:31px;
padding-top:116px;
text-align:center;
}
.four_zero_text{
margin-bottom:50px;
text-align:center;
}
.four_zero_text h1{
/*transition*/
-webkit-transition:all .8s ease 0s;
   -moz-transition:all .8s ease 0s;
     -o-transition:all .8s ease 0s;
        transition:all .8s ease 0s;
margin-top:12px;
font-size:60px;
font-family:'Open Sans', sans-serif;
margin-bottom:20px;
cursor:pointer;
}
.four_zero_text h1:hover{
font-size:40px;
color:#0cc2f8;
}
.four_zero_text p{
/*transition*/
-webkit-transition:all 1s ease 0s;
   -moz-transition:all 1s ease 0s;
     -o-transition:all 1s ease 0s;
        transition:all 1s ease 0s;
font-size:14px;
cursor:pointer;
}
.four_zero_text p:hover{
font-size:19px;
color:#0cc2f8;
}
.mainmenu_area{
}
.mainmenu_bg{
background:url(img/menu_bg.png) repeat scroll 0 0;
}
.mainmenu{
}
.mainmenu ul{
text-align:center;
}
.mainmenu ul li{
display:inline;
}
.mainmenu ul li a{
color:#F4F9FA;
display:inline-block;
font-size:14px;
padding:40px 20px;
}
.mainmenu ul li a:hover{
/*transition*/
-webkit-transition:all .6s ease 0s;
   -moz-transition:all .6s ease 0s;
     -o-transition:all .6s ease 0s;
        transition:all .6s ease 0s;
background:#17577E;
color:#0cc2f8;
}
.menu_heading h2{
text-align:center;
font-size:19px;
font-weight:600;
font-family:'Open Sans', sans-serif;
}
.socail-icon_area{
}
.socail-icon{
padding-left:110px;
padding-top:15px;
}
.socail-icon ul{
text-align:center;
}
.socail-icon ul li{
background:url("img/social-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display:block;
float:left;
height:50px;
width:50px;
text-indent:-999999px;
margin-right:15px;
/*transition*/
-webkit-transition:all .4s ease 0s;
   -moz-transition:all .4s ease 0s;
     -o-transition:all .4s ease 0s;
        transition:all .4s ease 0s;
}
.socail-icon ul li:hover.facebook{
background-position:0 -53px;
}
.facebook{
}
.socail-icon ul li.twitter{
background-position:-66px 0;
}
.socail-icon ul li:hover.twitter{
background-position:-66px -53px;
}
.socail-icon ul li.google-plus{
background-position:-132px 0;
}
.socail-icon ul li:hover.google-plus{
background-position:-132px -53px;
}
.socail-icon ul li.vimeo{
background-position:-198px 0;
}
.socail-icon ul li:hover.vimeo{
background-position:-198px -53px;
}
.socail-icon ul li.pinterest{
background-position:-264px 0;
}
.socail-icon ul li:hover.pinterest{
background-position:-264px -53px;
}
.socail-icon ul li.pacasa{
background-position:-329px 0;
}
.socail-icon ul li:hover.pacasa{
background-position:-329px -53px;
}
.socail-icon ul li.wordpress{
background-position:-396px 0;
}
.socail-icon ul li:hover.wordpress{
background-position:-396px -53px;
}
.socail-icon ul li.feed{
background-position:-462px 0;
}
.socail-icon ul li:hover.feed{
background-position:-462px -53px;
}
.socail-icon ul li.dropbox{
background-position:-528px 0;
}
.socail-icon ul li:hover.dropbox{
background-position:-528px -53px;
}
